[2018-07-26 13:37] dee-y opened #1 "Logo Proposal"
Hi, i am a graphic designer and i love open source projects. If you would have me, i would create a logo for this project and it's free of course.

[2018-07-26 18:37] camelaissani commented on #1
Hi, you're welcome to contribute to this project.
I'm looking forward to see your logo.

[2018-07-27 21:10] drique opened #2 "Can't git clone --recursive"
I'm not able to git clone the three submodules.

[code]

Fails also when I try submodule update:
[code]
Or like this:
[code]
I was able to run the project by cloning each repository separately.

[2018-07-27 21:57] drique opened #3 "yml unsupported"
Can't run mre start with the current yml file versions.
Works if I use v 2.
On ubuntu 16.04
Docker version 18.06.0-ce

[code]

[2018-07-28 08:12] camelaissani commented on #2
Please check if it works better. Thx

[2018-07-28 08:40] camelaissani commented on #3
Given the [compatibility matrix](https://docs.docker.com/compose/compose-file/compose-versioning/#compatibility-matrix) it should work.
I don't understand what's wrong there.

Could you give me the docker-compose version installed on your side?
[code]

[2018-07-29 17:04] camelaissani commented on #1
Better to work on [Loca](https://github.com/camelaissani/loca/issues/30) repository for this logo.
Thx

[2018-07-29 17:04] #1 closed

[2018-07-30 21:53] drique commented on #3
docker-compose version 1.8.0, build unknown

[2018-07-30 22:12] drique commented on #2
Now it gives no error neither clones =p

[2018-07-30 22:33] camelaissani commented on #2
I would say now the problem might come from the `git` version you've used for cloning.

You can complete the clone process with this procedure:

[code]

[2018-07-31 18:52] drique commented on #2
worked using:
`git clone --recurse-submodules git://github.com/drique/microrealestate.git`
on git version 2.7.4

[2018-07-31 18:52] #2 closed

[2019-03-03 16:58] ysnoussi opened #4 "mongo db as separate container"
Would be good to run mongo on its own container

[2019-03-03 17:55] camelaissani commented on #4
Actually, mongo runs in its own container https://github.com/microrealestate/microrealestate/blob/master/docker-compose.microservices.base.yml

I guess you would like to not use the one from the compose wouldn't you?

[2019-03-03 21:19] ysnoussi commented on #4
My bad, I read loca Dockerfile too fast.
I would like to thank you for this project. Let me know if I can help.

[2019-03-03 21:19] #4 closed

[2019-04-03 00:38] ortizman opened #5 "E: Unable to correct problems, you have held broken packages."
Hi,
I get the following error when I try to build the project
`./mre build`

`E: Unable to correct problems, you have held broken packages.`

Apparently it's time to build the image docker of **loca**, try to install the packete mongodb-org-tools, and this breaks because it can not solve a dependency

`mongodb-org-tools : Depends: libssl1.0.0 (>= 1.0.1) but it is not installable`

[2019-04-03 15:03] ortizman commented on #5
Ok, this happens because the docker image of node:8 changed its base from debian jessie to stretch.
I created a PR with the changes
https://github.com/camelaissani/loca/pull/38

[2019-04-03 17:43] camelaissani commented on #5
Great!
Is it related to this issue https://github.com/nodejs/docker-node/issues/1012 from Docker?

[2019-04-06 07:44] #5 closed

[2019-04-07 09:48] camelaissani commented on #3
@drique Have you retried to run the command recently?

[2019-04-16 07:56] mr-techiee commented on #3
can't run the project, I configured my project as I said mentioned above, but when I try to run the project as locally I can't run it, can u plz help me out this issue?

[2019-04-16 20:07] camelaissani commented on #3
@mr-techiee Could you give me more details of what is not working? Do you have some logs?

[2019-07-01 10:26] abocoum commented on #3
hi,
when i try to build the first time. this is my log

### Log
': not a valid identifier
': not a valid identifier
': not a valid identifier
Building microrealestate...
ERROR: The Compose file '././docker-compose.monitoring.yml' is invalid because:
services.logstash.ports contains an invalid type, it should be a number, or an object
services.logstash.ports contains an invalid type, it should be a

[2019-08-10 17:28] raphitit opened #6 "How to build on windows ???"
Hello, I'm not too comfortable with the command lines, and I tried to follow your explanation but I did not understand too much because every time I get an error, either on PowerShell or subsystem linux. I am French and I would like to have help to build it and start it. Otherwise great work.
_

[2019-08-10 17:41] camelaissani commented on #6
Hello well I've never checked my script on Windows. It surely needs some enhancements to run on this OS.
I'll be happy if you could help me to make it running on Windows.
BTW I'm French too :)

[2019-08-10 17:51] raphitit commented on #6
Je serai heureux de vous aider, mais je suis vraiment amateur et je peu vous aider un peu

[2019-08-18 08:55] camelaissani commented on #3
@abocoum did you use the `./mre build` command to build the docker images?
The problem here is like the environment variables set in the docker-compose file are not correctly subtituted.
Actualy, the `mre` command read the environment variable values from either `prod.env` or `dev.env` files to inject them to the compose files (https://github.com/microrealestate/microrealestate/blob/master/mre#L10

[2019-08-18 09:37] camelaissani commented on #6
I keep writing in english. This issue could be useful for others.

I see two ways for fixing this issue for Windows users:
- Port the `mre` bash file to MS-DOS or PowerShell script
- Publish the images built by `mre` in docker hub or something equivalent each time there is a new release of microrealestate

Obviously, we could implement the two solutions. The second option will avoid to build image

[2020-01-09 13:33] silicon755 opened #7 "/bin/sh: 1: wget: not found E: gnupg, gnupg2 and gnupg1 do not seem to be installed, but one of them is required for this operation"
I am running the app on Linux Kali Rolling and execution of `./mre build` I get the following error
`/bin/sh: 1: wget: not found
E: gnupg, gnupg2 and gnupg1 do not seem to be installed, but one of them is required for this operation
ERROR: Service 'pdfgenerator' failed to build: The command '/bin/sh -c wget -q -O - https://dl-ssl.google.com/linux/linux_signing_key.pub | apt-key add -     && sh -c

[2020-02-09 09:54] camelaissani commented on #7
I just reproduced the issue. I work on it.

[2020-02-09 10:21] camelaissani commented on #7
Should be fixed now

[2020-02-15 22:50] AndriyMulyar opened #8 "Installing gives demo page"
Hi,

Great work with this project. Is there an easy way to automatically clean all the database entries / alter some global config to customize for your needs? I was able to get the orchestrated containers all working but it only brings up the demo version with pre-loaded information.

Thanks!

[2020-05-08 15:39] camelaissani commented on #8
Hi sorry for my late answer.

Actually, the application was not fully ready to be used without pre-loaded data.
Now it's possible (please pull the last version of the project).
You just have to create a `.env` file at the root of the project with the following content:
[code]
You can name your database as you want, here I put `locadb`
Also, I recommand you to change the password and the secrets.
F

[2020-05-08 18:27] AndriyMulyar commented on #8
Thank you for the update!

[2020-05-08 18:27] #8 closed

[2020-07-26 21:20] #3 closed

[2020-07-26 21:20] #7 closed

[2021-02-21 21:49] NightDog opened #10 "Make Unit a sub-element of Property"
When managing apartments or houses a Property might have multiple Units that can be rented out.

Some examples:

- Apartment building with multiple units.
- House that is split, and rented out as multiple units.
- Condo that has a garage spot attached, and might be rented out to a different person than the tenants.

These Units would be of different types. They can be Condominium, Room, Parking Sp

[2021-02-21 23:36] camelaissani commented on #6
Issue should be fixed by #9
Thank you @NightDog for your contribution

[2021-02-21 23:57] camelaissani commented on #10
Good point! The concept of parent Property is missing and might be helpful to organize the different units.

BTW, I have started to rewrite the UI with React and Nextjs [here](https://github.com/microrealestate/frontend)
Currently, the [Property page](https://github.com/microrealestate/frontend/blob/master/src/pages/%5Borganization%5D/estates.js) is still blank.
Do you have any suggestions on how

[2021-02-28 13:01] NightDog commented on #10
Did a little mock-up of what a page for "Property" might look like with some comments:
<img width="1409" alt="Skjermbilde 2021-02-28 kl  14 00 06" src="https://user-images.githubusercontent.com/3144364/109419352-50747c80-79cd-11eb-87e7-8d2cdbec9000.png">

A little bit unsure about how to display this in a way that makes it accessable on mobile devices as well. Giving enough information, but still

[2021-03-07 09:24] camelaissani opened #11 "Setup a Vault container to store Mailgun secrets"
Setup a Vault container to store secrets like Mailgun API keys and storage tokens.

[2021-03-07 10:59] camelaissani opened #12 "Create the organization settings tab to enter and save the mailgun config"
Create the organization settings tab to enter and save the mailgun config.

The UI should look like this:

![image](https://user-images.githubusercontent.com/7079471/110237310-ab612300-7f3b-11eb-923b-8203ede54b7d.png)

Backend side the config has to be stored by organization in Vault. The `emailer` service has to fetch the config from Vault before triggering emails

This issue can be done once the

[2021-03-07 11:56] camelaissani commented on #12
### Sequence diagrams

#### Save the organization settings
![image](https://user-images.githubusercontent.com/7079471/110238491-40671a80-7f42-11eb-88ec-951252758786.png)

#### Send an email
![image](https://user-images.githubusercontent.com/7079471/110238916-74dbd600-7f44-11eb-82f5-5910a7fa9c9a.png)

[2021-04-10 17:22] #6 closed

[2021-04-25 18:14] camelaissani commented on #11
I'll revert the commit to not use Vault because of the complexity it implies to start and manage the application:

- The opensource version of Vault obliges the user to manage the unseal procedure manualy even if the [Auto-unseal using Transit Secrets Engine](https://learn.hashicorp.com/tutorials/vault/autounseal-transit) is possible (the problem is shifted to the additional Vault node which store

[2021-04-25 18:29] #11 closed

[2021-04-30 08:02] camelaissani commented on #12
Vault is not used here see issue #11
The bcc field is not part of the "thirdparties" form. The member emails from the "manage access" form are used by default.

[2021-04-30 08:02] #12 closed

[2021-05-18 17:28] slmzayat opened #13 "Unable to login to the new frontend"
Hi,

I'm unable to sign in with the default account 'demo@demo.com:demo'.

I can't create a new username on http://localhost:8080/app/signup. I'm only getting 'Something went wrong' error.

I'm able to browse the deprecated Loca front-end just fine.

Please note this is the first time I'm using Docker. I'm using Windows and Build the application using the '$ ./mre.ps1 build'.

Is there any file I

[2021-05-18 20:18] camelaissani commented on #13
Hi,
Do you have any logs in the browser console?

[2021-05-18 20:21] camelaissani commented on #13
Could you type this command in a terminal: `docker logs microrealestate_loca_1 -f` and try to login again and see if you get any errors in the terminal?

[2021-05-19 16:45] slmzayat commented on #13
I got the following errors:

1. TypeError: Cannot read property 'method' of undefined
2. TypeError: Cannot read property 'status' of undefined

Full log here: [sign in - browser console log.txt](https://github.com/microrealestate/microrealestate/files/6510431/sign.in.-.browser.console.log.txt)

Not seeing any error after I typed the [docker logs microrealestate_loca_1 -f.txt](https://github.com/mi

[2021-05-21 00:18] camelaissani commented on #13
Could you try the app in dev mode?  Run thi command '$ ./mre.ps1 dev'  and send me the log you get in the browser please.

[2021-05-22 05:12] slmzayat commented on #13
Really appreciate your help. I've attached the log here
[dev browser log.txt](https://github.com/microrealestate/microrealestate/files/6525845/dev.browser.log.txt).

Thanks

[2021-05-22 12:55] camelaissani commented on #13
Thank you for using my project :wink:

It looks like there is a problem in the authenticator service. Could you retest and send me the log from this command `docker logs microrealestate_authenticator_1 -f`?

[2021-05-24 15:16] slmzayat commented on #13
PS C:\Users\slmzayat\Documents\GitHub\microrealestate> docker logs microrealestate_authenticator_1 -f
warn:    --minUptime not set. Defaulting to: 1000ms
warn:    --spinSleepTime not set. Your script will exit if it does not stay up for at least 1000ms
error:  message=ERR invalid password, stack=ReplyError: ERR invalid password
    at parseError (/usr/app/node_modules/redis-parser/lib/parser.js:17

[2021-05-24 20:27] camelaissani commented on #13
Ok I have an idea of what could be the root cause of the problem. It looks like the comments in the `prod.env` / `dev.env` files are not well handled.
Could you edit those files and remove the comments that are after the values? Like `# TODO change this password`, `# TODO change this secret` and `# TODO change this KEY`
For the demo, this should be enough to fix the problem :crossed_fingers:

For

[2021-05-24 20:33] camelaissani opened #14 "How can I customize the lease template?"
Issue from Loca https://github.com/camelaissani/loca/issues/45

[2021-05-24 20:38] camelaissani opened #15 "List tenant balances by Properties"
List tenant balances Properties with total balances of tenants and drill down to tenant with balance indicated per property.

[2021-05-24 20:48] camelaissani opened #16 "Add the possibility to manage money flows which are not rent payments"
Display a page like we can see in a bank account website.
Obviously, we can add, update, remove a money transaction.
Rent payments can be also visible on this page.

[2021-05-24 20:55] camelaissani opened #17 "Translate the application in French"
Locales directory: https://github.com/microrealestate/frontend/tree/master/locales

[2021-05-24 20:55] camelaissani opened #18 "Translate the application in Brazilian"
Locale files:

- https://github.com/microrealestate/microrealestate/tree/master/webapps/landlord/locales
- https://github.com/microrealestate/microrealestate/tree/master/services/api/src/locales
- https://github.com/microrealestate/microrealestate/tree/master/services/emailer/src/emailparts/attachments/locale
- https://github.com/microrealestate/microrealestate/tree/master/services/emailer/src/ema

[2021-05-24 21:06] camelaissani commented on #14
Few commits have been submitted so far:
https://github.com/microrealestate/frontend/commit/0fc8dad870bc2b44b0409be0e263c7a22809faad
https://github.com/camelaissani/loca/commit/a164ef638dfec56896f3b4bc36eade3f4bb7f177

The lease templates will be edited with [quilljs](https://quilljs.com/) editor. UI integration is [here](https://github.com/microrealestate/frontend/tree/master/src/components/RichTe

[2021-05-26 16:21] slmzayat commented on #13
I'm sorry, it didn't work.

Should the passwords, keys, and secrets in the .env files follow a specific number format?

[2021-05-27 18:38] camelaissani commented on #13
I'm gonna try to find a windows machine to check that.

[2021-05-29 20:26] camelaissani commented on #13
@slmzayat could you fetch the latest update of the repository and check if the fix works on your side please?

[2021-05-29 20:29] camelaissani commented on #13
@NightDog do you have a more elegant solution for this line https://github.com/microrealestate/microrealestate/blob/master/mre.ps1#L23 ?

[2021-06-05 14:01] brunosalves opened #19 "Can't install microrealestate on Raspberry Pi 4"
Hello there! I found about loca and microrealestate recently and I'm very interested in trying it to help me out organizing a coworking space a help managing, however, I'm facing a few problems while trying to build the app. I'm trying to run it on both Raspberry Pi 4 (2GB) and Raspberry Pi 4 (4GB) running raspbian buster and ubuntu. Notice: I'm not a developer, then some of the issues I'm facing

[2021-06-12 15:40] slmzayat commented on #13
I'm afraid I can't test it now. Need to troubleshoot my docker.

Thanks again for your help. I hope your project goes well.

[2021-06-12 15:40] #13 closed

[2021-06-21 02:13] kevev opened #20 "CORS issue"
Great app! I am just now trying to get it running. There seems to be a CORS issue:

:8080/signup:1 Access to XMLHttpRequest at 'http://localhost:8080/api/v2/authenticator/signup' from origin 'http://167.71.22.26:8080' has been blocked by CORS policy: Response to preflight request doesn't pass access control check: No 'Access-Control-Allow-Origin' header is present on the requested resource.

Any h

[2021-06-21 05:08] kevev commented on #20
Resolved.

Change the APP_URL & API_URL the the IP address of your server as localhost won't work unless you are hosting locally:

vi .env

APP_URL=http://localhost:${APP_PORT}/${BASE_PATH}
API_URL=http://localhost:${NGINX_PORT}/api/v2

[2021-06-21 05:08] #20 closed

[2021-06-21 05:17] kevev opened #21 "What does Capital represent under Landlord Info in settings?"
I am not sure what this field is for? It requires numerical value.

[2021-06-21 06:10] kevev opened #22 "Users get logged out when reloading page"
Reloading any page logs the user out.

[2021-06-22 20:32] camelaissani commented on #21
It means share capital. It is the amount invested by a company's shareholders for use in the business.
In several countries, you have to inject a minimum of money to be allowed to create a company.

Few examples
https://en.wikipedia.org/wiki/Public_limited_company#Share_capital

https://en.wikipedia.org/wiki/Soci%C3%A9t%C3%A9_%C3%A0_responsabilit%C3%A9_limit%C3%A9e#Legal_characteristics

[2021-06-22 20:35] camelaissani commented on #22
Do you have any logs coming from the containers or/and from the browser console?

How do you run the app in dev mode or production mode?

[2021-06-22 20:36] kevev commented on #21
Thank You very much for explaining this to me. This app is great! Hoping to get it working for our specific use case.

[2021-06-22 20:41] camelaissani commented on #21
I hope so too

[2021-06-24 01:09] kevev commented on #22
I refreshed the page I was on: http://IPADDRESS:8080/Mission%20Open%20Air/rents/2021.06

Page shows: Cannot GET /Mission%20Open%20Air/rents/2021.06

Browser console shows: 2021.06:1 GET http://167.71.22.26:8080/Mission%20Open%20Air/rents/2021.06 404 (Not Found)

Running in productions mode on Ubuntu 20.04 VM.

[2021-06-27 17:43] #21 closed

[2021-06-28 02:22] kevev commented on #22
Any help is appreciated.

Also wondering, do you provide paid development/support?

[2021-07-02 16:34] camelaissani commented on #22
I'm on it.
Currently I'm not providing paid dev/support. I'm more looking for contributors.

[2021-07-02 16:36] camelaissani opened #23 "Update frontend with nextjs version 11"
Update frontend with nextjs version 11

[2021-07-02 16:37] camelaissani opened #24 "Migrate frontend from next-i18next to next-translate"
Migrate frontend from next-i18next to next-translate

[2021-07-03 16:03] camelaissani opened #25 "Update frontend with nextjs version 10.2"
Update frontend with nextjs version 10.2

[2021-07-04 09:41] #25 closed

[2021-07-04 09:45] camelaissani commented on #22
I identified an issue when building the frontend docker container. The BASE_PATH variable was not taken in account.
Could you update your local repositories with the lastest commit and tell me if it fixes this issue?

[2021-07-04 09:57] camelaissani commented on #20
Have you set the `CORS_ENABLED` variable to `true` to be in such case?

[2021-07-04 23:32] #24 closed

[2021-07-08 11:31] kevev commented on #22
Unfortunately I am not very good at programming javascript and web stuff. But I am great at testing and reporting issues.  :p

Thank You as this fixed the issue. I have another issue that I will post as new issue.

[2021-07-08 11:31] #22 closed

[2021-07-08 11:33] kevev opened #26 "Refreshing browser page causes error"
Refreshing on any page causes error.

Example on dashboard. Cannot GET /COMPANY%20NAME/dashboard

It seems as though the app is redirecting from /app to / .

Also, is it possible to have /app be default page as / is the old version?

[2021-07-09 05:43] pancodia commented on #14
@camelaissani Thanks a lot for the brilliant project. After a long while, I am revisiting this project and found a lot of progress. I am trying to create a custom template. I can draft a template using the quiljs editor and insert the provided placeholders. However, I couldn't find a way to generate a lease from a template for a tenant by replacing the the placeholders with his/her information. Is

[2021-07-09 19:49] camelaissani commented on #14
Yes it is :smile:

[2021-07-10 15:13] #23 closed

[2021-07-10 15:20] camelaissani commented on #26
I cannot reproduce. Could you give me more information about the steps to reproduce this issue? What is the error? Do you have any logs in the browser console or in the docker containers?

Weird that my last fix hasn't resolved this problem.

[2021-07-13 06:52] kevev commented on #26
I did git pull. Would that not have pulled down the fix?

[2021-07-31 08:55] adrianmartinezverax opened #27 "Unable to login to the new frontend"
Unable to login to the new frontend
It saying something wrong wrong, can you help me please?

[2021-08-04 19:55] camelaissani commented on #27
Can you give me more details please?
Which OS ?
Are you running in production mode or in dev mode?
Do you have any crashes and call stacks in the browser console?
Do you have any logs in the docker containers?
Thanks

[2021-08-04 20:07] adrianmartinezverax commented on #27
I’m running it in dev mode on Ubuntu 20.04 LTS.

But on windows machine running it locally is working all fine. So what is
do you think is the problem? Because I would really like to use it for
production and learning purposes.

On Wed, 04 Aug 2021 at 21:55 Camel Aissani ***@***.***> wrote:

[2021-08-04 22:28] camelaissani commented on #27
Okay do you have any logs in the terminal where you've ran `mre dev` ?

[2021-08-04 22:42] adrianmartinezverax commented on #27
here are the errors i am having below. and i am not in demo mode, when i am trying to create an account or login in it is always saying "something went wrong" and in loca it is saying " A technical issue has occurred (-_-')"

   TypeError: Cannot read property 'map' of undefined
    at /usr/app/backend/models/realm.js:97:25
    at Array.filter (<anonymous>)
    at /usr/app/node_modules/sugar/enume

[2021-08-04 22:42] #27 closed

[2021-08-04 22:42] adrianmartinezverax commented on #27
sorry i was running ./mre build & ./mre start.  and here are the errors i
am having below. and i am not in demo mode, when i am trying to create an
account or login in it is always saying "something went wrong" and in loca
it is saying " A technical issue has occurred (-_-')"

   TypeError: Cannot read property 'map' of undefined
    at /usr/app/backend/models/realm.js:97:25
    at Array.filter (<

[2021-08-04 22:48] adrianmartinezverax opened #28 "I cannot be able to login in both Frontend and Loca. "it is saying something went wrong""
I'm in production mode and demo mode is also saying "something went wrong" when i am trying to log in. Here are the errors i am having below. and i am not in demo mode, when i am trying to create an account or login in it is always saying "something went wrong" and in loca it is saying " A technical issue has occurred (-_-')"

by the way i am using Ubuntu 20.04 LTS

TypeError: Cannot read property

[2021-08-06 18:51] camelaissani commented on #28
I'll check that thanks for the logs.
Just a last question, how did you deactivated the demo mode?

[2021-08-07 10:05] adrianmartinezverax commented on #28
I deactivated it from here, by changing the DEMO_MODE to false ## api
API_PORT=8200
DEMO_MODE=false
RESTORE_DB=true

On Fri, Aug 6, 2021 at 8:51 PM Camel Aissani ***@***.***>
wrote:

[2021-08-08 00:39] adrianmartinezverax opened #29 "Can you please include the code for Front-end please if possible? so i can put in .env i want to use it for production so i can use it to put my rents and some properties"
here is the only code i got for Loca, i am not sure if you really included Front-End

## loca
DEMO_MODE=false
RESTORE_DB=false
PRODUCTIVE=true
BASE_DB_URL=mongodb://mongo/locadb

## authenticator
AUTHENTICATOR_TOKEN_DB_PASSWORD=your_db_token_password
AUTHENTICATOR_ACCESS_TOKEN_SECRET=your_access_token_secret
AUTHENTICATOR_REFRESH_TOKEN_SECRET=your_refresh_token_secret

## emailer
MAILGUN_API_KEY=m

[2021-08-12 15:17] malacration commented on #18
I'm Brazilian, can I resolve this issue?

[2021-08-13 10:14] qjay opened #30 "./mre dev issues"
after running /mre dev succesfully got issues with localhost/app see feedback
![image](https://user-images.githubusercontent.com/13147840/129341706-7e16cecd-bd2c-425c-b38d-1b53c7c5b501.png)
and cannot go beyond here am still new to docker technology

[2021-08-13 10:16] qjay commented on #30
docker status

![Screenshot from 2021-08-13 13-13-42](https://user-images.githubusercontent.com/13147840/129342475-f3cd81d9-785e-4ce2-8da9-bbf01cfa3327.png)

[2021-08-14 06:21] camelaissani commented on #18
Yes of course you can. Your contributions are very welcome

[2021-08-23 16:55] camelaissani commented on #28
I just checked and unfortunately I was not able to reproduce this problem...

I checked the prod (`mre build && mre start`) and the dev (`mre dev`) modes with and without `.env` file filled with your changes and I was able to create a new user and a new organization. So for me the app works.

Could you remove everything and pull the latest version of the repository? It might fix your issue...
BTW

[2021-08-23 16:57] camelaissani commented on #30
I think here you are mixing the prod and dev modes.
Your snapshot shows the logs from the prod mode.

[2021-08-23 17:04] adrianmartinezverax commented on #28
On Mon, 23 Aug 2021 at 18:55 Camel Aissani ***@***.***> wrote:

Thank you so much you much I appreciate, it works just fine now!

[2021-08-23 17:08] #28 closed

[2021-08-23 17:08] #29 closed

[2021-08-23 17:14] camelaissani commented on #26
Could you remove everything and clone again may be something is wrong with your `prod.env` or `dev.env` files?
Could you add a `.env` file at the root of the directory (close to `prod.env` file) and put in there those lines:
[code]
I hope it will fix the issue.

[2021-08-23 17:30] camelaissani commented on #29
Here are the environment variables you have to set for a productive application:

[code]

The keys and tokens can be randomly generated with JS code in the terminal by running the node console:

[code]

For the emailer section, you will have to create an account here https://signup.mailgun.com/new/signup

[2021-08-23 17:38] adrianmartinezverax commented on #29
Thank you so much, I really appreciate!

On Mon, 23 Aug 2021 at 19:30 Camel Aissani ***@***.***> wrote:

[2021-08-28 01:34] ugintl opened #31 "What are server requirements?"
Can it run on Apache, php, mysql hosting?

[2021-08-28 10:55] camelaissani commented on #31
Personaly I run the services of this app on a basic Digital Ocean droplet (a cloud VM):
Memory: 1GB
CPU: 1
SSD: 25 GB
transfert: 1000GB

The UI runs on Vercel.

No need of Apache, php and mysql.
The app is fully written in JS and the services use the nodejs runtime and run inside docker containers.
The web server used is NGINX and the databases are: MongoDB and Redis. All these provided through do

[2021-08-28 11:01] camelaissani commented on #30
@qjay do you still have this issue on your side?

[2021-09-01 18:02] #31 closed

[2021-09-01 18:04] #30 closed

[2021-09-15 20:12] camelaissani commented on #14
No true Mr Stale bot :slightly_smiling_face: I'm currently working on it.
I know I spend a lot of time on this but I guarantee I will resolve it.

[2021-10-01 16:14] chedighribi commented on #19
Hi, i m facing the same issue did you find a solution ?

[2021-10-01 17:48] brunosalves commented on #19
Hi, I gave up on MRE. I've been using Dolibarr instead and it is working perfectly so far.

[2021-10-02 20:55] camelaissani commented on #19
@chedighribi unfortunately no. I'm looking for some help on this issue.

[2021-10-03 22:16] #14 closed

[2021-10-09 09:55] camelaissani opened #33 "Implement the Dashboard page"
Implement Dashboard page with couple of metrics like:
- The number of active tenant
- The number of property
- The year revenues
- Top 5 tenants who have not paid their rent

Few shortcuts for the main actions

[2021-10-10 23:33] #33 closed

[2021-10-11 19:04] camelaissani opened #34 "Simplify the app startup"
Currently starting the application requires to follow couple of steps (create a `.env` file, set some options, generate tokens...) before having it running in Producton mode see #29.

The objective of this issue is to simplify this process.

One option might be to convert the Bash/PowerShell scripts (`mre` and `mre.ps1`) in JavaScript and automate everything.
This option will lead to add nodejs in

[2021-10-16 08:01] camelaissani opened #35 "Simplify the project tree setup (mono-repo)"
Currently the services and the frontend have their own github repository which are gather in microrealestate with git submodules.

The objective here is to replace this with a mono-repo (npm workspaces). Thereby it will simplify the clone and the installation of the application. Mostly it will allows to share libs across the different services.

The source tree might looks like:
[code]

[2021-10-16 08:35] camelaissani opened #36 "Bye loca"
Ditch `loca` as it is deprecated

[2021-10-18 11:56] saikiruba-mj opened #37 "Auto logout session while browser refresh (refresh token not found in database)"
Hi !

@camelaissani  @NightDog

I have checked the microrealestate application in the dev (./mre dev) modes with .env file filled with latest config changes and while navigating between screen there is no issue with session but once browser refresh manually(session closed with terminal log attached below) & its redirected to signin page.

**Scenario video:**

https://www.loom.com/share/098c97c5b7f

[2021-10-27 10:07] #36 closed, assigned to camelaissani

[2021-10-27 13:48] #37 closed, assigned to nobody

[2021-10-28 08:59] camelaissani opened #38 "Update frontend dependency NextJS to version 12"
See [NextJS migration guide](https://nextjs.org/docs/upgrading#upgrading-from-11-to-12)

[2021-10-30 05:02] #26 closed

[2021-11-06 11:20] camelaissani opened #39 "Rework refresh tokens auth"

[2021-11-06 11:24] #39 closed

[2021-11-07 23:12] #17 closed

[2021-11-09 14:09] saikiruba-mj opened #40 "401 Unauthorized issue while sending rentcall or invoice mail"
Hi!

@camelaissani

I have checked the microrealestate application in the dev (./mre dev) modes with .env file filled with the latest config and repository changes(ff4a0019a7ed7d83d9f56d0014dafa43d8c5f146). While sending an invoice or rentcall mail from the Rents tab we are facing issues like  "Request failed with status code 401"

**Terminal Screenshot:**

![image](https://user-images.githubuserc

[2021-11-09 18:44] camelaissani commented on #40
@saikiruba-mj Good catch I'll check that ASAP

[2021-11-11 12:05] camelaissani commented on #40
@saikiruba-mj could you check if my last changes has fixed the issue on your side please?

[2021-11-11 14:33] saikiruba-mj commented on #40
@camelaissani

Now I am facing a different issue from my end(404 issue).

**Terminal Screenshot:**

![image](https://user-images.githubusercontent.com/74354881/141315444-d6f7fa9a-f474-4b72-a4f9-a27f0fbab4ba.png)

[2021-11-12 11:28] Mishka6783 commented on #16
also add the ability to manage inventory of things like shampoo and stuff.

[2021-11-12 18:31] camelaissani commented on #40
This one was not easy to spot :sweat: but it should be fixed now. Could you check please?

[2021-11-14 19:55] #34 closed

[2021-11-17 10:00] saikiruba-mj commented on #40
@camelaissani

Apologies for the delayed response.

Now I am facing different issue from my end like **cannot add attachment for invoice, rentcall, rentcall_reminder and rentcall_last_reminder flow** and I have cloned the repository changes till latest commit (https://github.com/microrealestate/microrealestate/commit/ab4367133d245c5d56f61c4cd58ee9bc4748ab9a)

**Terminal Screenshot:**

![Screenshot

[2021-11-17 23:40] adrianmartinezverax opened #41 "Having issues sending emails not working"
Having issues sending emails not working

[2021-11-18 00:10] camelaissani commented on #41
Do you have any logs? How do you run the application?

[2021-11-18 00:13] adrianmartinezverax commented on #41
I’m running the appliance on production on Ubuntu 20.04  LTS

On Thu, 18 Nov 2021 at 02:10 Camel Aissani ***@***.***> wrote:

[2021-11-18 00:18] adrianmartinezverax commented on #41
## emailer
ALLOW_SENDING_EMAILS=true
EMAILER_PORT=8400
MAILGUN_API_KEY=private_api_key
MAILGUN_DOMAIN=mg.mydomain.com
EMAIL_FROM=adrian@mg.mydomain.com
EMAIL_REPLY_TO=customer-service@mg.mydomain.com
EMAIL_BCC=manager1@mg.mydomain.com,manager2@mg.mydomain.com
EMAILER_URL=http://emailer:${EMAILER_PORT}/emailer

is there anything I am missing?

[2021-11-18 00:21] camelaissani commented on #41
The config looks like ok.
I would say the issue is similar to what was reported in #40

[2021-11-18 00:40] adrianmartinezverax commented on #40
Any way how to solve the problem?

[2021-11-20 10:04] camelaissani commented on #40
@saikiruba-mj @adrianmartinezverax could you fetch the latest commit and try again please?

[2021-11-20 12:55] adrianmartinezverax commented on #40
On Sat, 20 Nov 2021 at 12:04 Camel Aissani ***@***.***> wrote:

Still not working

[2021-11-20 13:05] camelaissani commented on #40
@adrianmartinezverax Ok but without logs or other information it is difficult to spot the problem you got on your side.

Have you rebuild the app?

Have you fill all the landlord information in the settings page?

[2021-11-20 18:47] camelaissani commented on #40
In addition of what I've done before, I fixed another bug which impacted the save of the mailgun api key.
Please update on your side and save again the api key.

[2021-11-20 19:53] adrianmartinezverax commented on #40
On Sat, 20 Nov 2021 at 20:47 Camel Aissani ***@***.***> wrote:

I have done but still not working till now

[2021-11-20 19:56] camelaissani commented on #41
Close this one follow up in #40

[2021-11-20 19:57] #41 closed

[2021-11-21 00:53] camelaissani opened #42 "Add e2e tests"
Add e2e tests with [cypress](https://www.cypress.io/) to enhance the quality of the application.

[2021-11-21 01:01] camelaissani opened #43 "Ditch Quilljs editor and replace it by Tiptap"
QuillJS is a dead project see [here](https://github.com/quilljs/quill/issues/3359)

:warning: The impact of this change is all documents created previously will be lost

[2021-11-22 20:35] adrianmartinezverax commented on #41
It's working properly now without any issues with the new repository. Thank you so much. But one thing why is is show an older date when I am sending first notice while the Lease start date and entry date is 22 November 2021. but when I send first notice is show "was expected to be paid on November 11, 2021." why saying an older date?

[2021-11-22 21:27] adrianmartinezverax commented on #41
and when putting expenses in tenant page its not updating still showing  "€0" but the rest works fine

[2021-11-22 23:38] camelaissani commented on #41
@adrianmartinezverax the 2 other issues should be fixed in my last commit

[2021-11-22 23:47] camelaissani commented on #40
@adrianmartinezverax do you confirm it works now?

[2021-11-23 01:23] adrianmartinezverax commented on #41
Thank you, I have checked it. Everything is working very perfect but except 2 things like, "The billing page doesn't allow to save when the The organization/landlord belongs to a Person Account. the billing page details only able to save when it belongs to A business or an institution. And the other thing the on the invoice its showing an older date which is 1 November and Paris in the beginning o

[2021-11-23 01:26] adrianmartinezverax commented on #41
and what is supposed to where there is "Paris, November 1, 2021" (at the right hand side above "RENT CALL")

[2021-11-24 22:39] #40 closed

[2021-11-25 23:06] camelaissani commented on #41
"Paris, November 1, 2021" the city comes from the address you defined for the landlord.

You mention a billing page which cannot be saved, could you create another issue and attach a screenshot please?

[2021-11-25 23:52] camelaissani commented on #42
added [here](https://github.com/microrealestate/microrealestate/tree/master/e2e/uitests)

[2021-11-25 23:52] #42 closed

[2021-11-28 11:41] camelaissani commented on #35
After many experimentations, it looks like `yarn` is more stable that `npm` to handle workspaces.
I was not able to install the project with `npm`.

[2021-12-01 10:06] saikiruba-mj opened #44 "502 issue while creating first organisation"
Hi

@camelaissani

I have checked the microrealestate application in the dev (./mre dev) modes with .env file filled with the latest config and repository changes(https://github.com/microrealestate/microrealestate/commit/c664a7d334d4b07ae92e4e6ab4edfea5f1422cee). While login as first access we unable to create organisation(**502 issue**)

**Browser Screenshot:**

![image](https://user-images.githu

[2021-12-02 20:49] camelaissani commented on #44
Hi @saikiruba-mj my last commit should fix the problem.

[2021-12-05 09:44] #44 closed

[2021-12-07 09:47] saikiruba-mj opened #45 "Error while fetching email data return 422 error code"
Hi!

@camelaissani

I have checked the microrealestate application in the dev (./mre dev) modes with .env file filled with the latest config and repository changes(2602771). While sending an invoice or rentcall mail from the Rents tab we are facing issues like "Request failed with status code 422"

Terminal Screenshot:

![image](https://user-images.githubusercontent.com/74354881/145004586-1aa92f48

[2021-12-07 09:50] saikiruba-mj commented on #44
Hi @camelaissani

Its working fine from my end with latest commit(504413a)

Thank You!

[2021-12-07 17:55] camelaissani commented on #45
@saikiruba-mj fixed!

[2021-12-12 23:50] #35 closed

[2021-12-12 23:50] #45 closed

[2021-12-14 11:11] saikiruba-mj commented on #45
@camelaissani

Now I am facing an issue while sending reset password mail.

Emailer works fine for rent call, rentcall_reminder, rentcall_last_reminder,  and invoice flow.

**Terminal screenshot:**

![Screenshot from 2021-12-14 16-38-57](https://user-images.githubusercontent.com/74354881/145987394-5200efe4-65d9-4d4a-877a-75c99fd92b4e.png)

[2022-01-06 12:27] adrianmartinezverax opened #46 "Having some errors with the new version"
No stopped containers
Service 'pdfgenerator' failed to build : The command '/bin/sh -c yarn global add forever &&     yarn workspace pdfgenerator install --production &&     yarn cache clean' returned a non-zero code: 1
1

[2022-01-06 23:29] camelaissani commented on #46
@adrianmartinezverax I cloned the app on my side and followed the README instructions and everything was working fine on Ubuntu.

Which OS are you using?
I need more details on how you start the app.

[2022-01-06 23:41] adrianmartinezverax commented on #46
I cloned the app too.

I am using Ubuntu 20.04 LTS

I started the app following all the instructions in README

[2022-01-06 23:50] camelaissani commented on #46
Ok. Is it working if you start the application in dev mode?
`./mre dev`

[2022-01-07 00:45] adrianmartinezverax commented on #46
yes it is, only in the production not working

[2022-02-02 00:17] #43 closed

[2022-02-03 01:14] camelaissani opened #47 "Document deployment on AWS"
Document the steps to follow to deploy MRE services and front-end on AWS

[2022-02-03 01:18] camelaissani commented on #47
@hasheemm1 I saw you did a great job on your fork and you achieved to deploy this project on AWS.
Would you mind to contribute to this repository by writting the procedure you followed to have the app on AWS?

[2022-02-03 07:24] hasheemm1 commented on #47
YesI will do, My apologies for not reaching out sooner, I have meant to.

My fork demonstrates a GitHub actions CI pipeline to AWS ECS, using the great work done by the Docker Compose team in partnership with AWS Fargate.

My prod version on ECS Fargate is 5 days stable and works well. CF Creates, Updates, and Deletes work perfectly.

Outstanding issues:

1. mre CLI li needs a change to request db

[2022-02-03 08:45] hasheemm1 commented on #46
sometimes there is a network timeout issue and it manifests itself in a retry loop until it just gives up. add a large timeout  to the yarn workspace command in the Dockerfile of all the microservices

--network-timeout 1000000

[2022-02-08 23:06] #38 closed

[2022-02-12 11:13] adrianmartinezverax opened #48 "Having some errors with the new version on my machine.: zsh: exec format error: ./mre"
➜  ~ cd desktop
➜  desktop cd microrealestate
➜  microrealestate git:(master) ./mre build
zsh: exec format error: ./mre
➜  microrealestate git:(master)

[2022-02-12 11:28] adrianmartinezverax commented on #48
Yes I am on Mac

[2022-02-12 17:37] camelaissani commented on #48
@hasheemm1 thanks for your help I appreciate :+1:

@adrianmartinezverax have you solved your problem by using the `mre-macos` command?

You just have to run: `./mre-macos build`

[2022-02-12 17:38] camelaissani opened #49 "Make the app usable on mobile"
Make the app responsive to be usable on a mobile

[2022-02-12 17:39] camelaissani opened #50 "Forms don't show errors which prevent saving"
Forms don't show errors which prevent saving

[2022-02-12 17:47] camelaissani opened #51 "Translate the application in German"
Locale files:

- https://github.com/microrealestate/microrealestate/tree/master/webapps/landlord/locales
- https://github.com/microrealestate/microrealestate/tree/master/services/api/src/locales
- https://github.com/microrealestate/microrealestate/tree/master/services/emailer/src/emailparts/attachments/locale
- https://github.com/microrealestate/microrealestate/tree/master/services/emailer/src/ema

[2022-02-12 17:52] camelaissani commented on #15
I close this one. I have some difficulties to understand what I expected here...

[2022-02-12 17:52] #15 closed

[2022-02-13 15:36] adrianmartinezverax commented on #48
Thank you so much, it works fine 👍

[2022-02-13 15:36] #48 closed

[2022-02-14 12:46] camelaissani commented on #51
@Markusi13 I just pushed the necessary files to have German language proposed from the UI.

I see one file where the German translation is missing: https://github.com/microrealestate/microrealestate/blob/master/services/emailer/src/emailparts/attachments/locale/de-DE.json line 6 to 9.

Could you have a look?

[2022-02-14 14:17] camelaissani commented on #51
Well done @Markusi13! I'll close this issue

[2022-02-14 14:30] camelaissani commented on #18
@malacration some months ago you asked if you could translate the app in Brazilian.
For that purpose I listed the files/directories which have to be completed, see the issue description.
Also you can have a look at what have done @Markusi13 for the German in issue #51.
The work to be done should be similar for Brazilian.

[2022-02-15 14:46] camelaissani opened #55 "Fix and document deployment on Digital Ocean droplets"
Fix and document deployment on Digital Ocean droplets

[2022-02-17 13:17] Markusi13 opened #57 "When you try to add a contract template to a tennant via add under the documents section it doesn't add the contract"
When the tennant has an assigned contract (and that contract has a contract template) and you try to add the contract document to the tennant via add under documents, it just does nothing. Nothing gets added.

[2022-02-18 13:36] mkoetzing opened #58 "register first user error"
hi folks,
i configured microrealestate to use without mailgun. when trying to add the first and initial user I always get an error. do i miss something?
thanks for your work and regards,
martin

[2022-02-18 13:37] mkoetzing commented on #58
when trying to run in debug mode this happens:

[code]

[2022-02-18 18:09] camelaissani commented on #58
Can you tell me what is the error in the browser console?
Which OS are you using? Do you run the app on your local machine?

[2022-02-18 18:22] camelaissani commented on #57
@Markusi13 my last push should fix the issue

[2022-02-19 11:04] Markusi13 commented on #57
Works now! Thanks!

[2022-02-19 11:04] #57 closed

[2022-02-22 13:02] mkoetzing commented on #58
![image](https://user-images.githubusercontent.com/19590502/155137673-5d944599-9655-4d15-91c1-9a9fbd07a33f.png)

[2022-02-22 13:15] mkoetzing commented on #58
![image](https://user-images.githubusercontent.com/19590502/155139715-2632188d-3391-47e8-8390-a4201b432234.png)

this happens when starting in normal mode and trying to register...any chance to find more log-details?

[2022-02-22 14:54] mkoetzing commented on #58
![image](https://user-images.githubusercontent.com/19590502/155157991-60513cd9-bd0d-40db-b177-db2d28d5ad23.png)

[2022-02-22 19:09] camelaissani commented on #58
I see what can be the problem.
Most likely you have not entered the right URL when `mre` command prompt this:
![image](https://user-images.githubusercontent.com/7079471/155199414-ec30eba8-3edc-4c41-a348-3e6c39a8715a.png)
You probably kept the default value which is good if you do a local installation.

In your case you should have set something like `http://[here the IP address of your ubuntu mach

[2022-02-23 09:28] pmzhou opened #60 "Requested features"
This project is good and looks promising. Hope this these features can be added.

**Wishlist**
1. Create lease from dashboard
Add shortcut link on dashboard to create a new lease. (This should lead to select existing apartment/property then select tenant or add new tenant)
2. Tenants compulsory documents with validity check.
Some laws require compulsory documentation to be liable to rent, these in

[2022-02-23 09:47] adrianmartinezverax opened #61 "Looks like a bug on Enter Rent Settlement Button, Its literally doing nothing."
<img width="1788" alt="Screen Shot 2022-02-23 at 11 43 25 AM" src="https://user-images.githubusercontent.com/45777622/155295038-fc0342f0-fccc-446a-a278-cd6211ccf734.png">

[2022-02-23 09:52] adrianmartinezverax opened #62 "How about if we can also add interests with some percentages if the tenant is not paying rent?"
Like every month if a tenant is not paying or depending with the days then they have to be charged to pay some interest?

[2022-02-23 11:37] camelaissani commented on #61
Enter a rent with no tenants is not possible

[2022-02-23 13:26] mkoetzing commented on #58
thanks i will try. i thought it defaults to the given ip.

[2022-02-23 17:10] loewensteinph opened #63 "locale seems not to affect calendar"
Locale is DE wheras the dashbord shows PT month name, same applies to datepicker calendar

![grafik](https://user-images.githubusercontent.com/17300968/155370106-3419ae01-26b5-496a-8e62-6390b19ac956.png)

![grafik](https://user-images.githubusercontent.com/17300968/155370439-288d2acd-a71e-4376-8e6e-ddd93b6f089d.png)

[2022-02-23 17:20] loewensteinph opened #64 "UTF-8 BOM support to CSV export files / change seperator to ;"
With current CSV export currency symbol is broken and delimiter "," creates issues with DE number formatting.

[2022-02-23 18:39] camelaissani commented on #60
I'm gonna break this issue down in several ones

[2022-02-23 18:41] camelaissani opened #65 "Create lease from dashboard"
Add shortcut link on dashboard to create a new lease. (This should lead to select existing apartment/property then select tenant or add new tenant)

[2022-02-23 18:42] camelaissani opened #66 "Add tenants compulsory documents with validity check"
Some laws require compulsory documentation to be liable to rent, these include:
- Visa - validity date
- ID - validity date
- Passport - validity date
- Spouse documents

[2022-02-23 18:42] camelaissani opened #67 "Import tenants from csv"
Import tenants from csv

[2022-02-23 18:43] camelaissani opened #68 "Import apartments / properties from csv"
Import apartments / properties from csv

[2022-02-23 18:44] camelaissani opened #69 "Contract breakdown"
Contract breakdown
E.g
Yearly rental may be 20000.00
Breakdown:
Initial payment in cash : 3000.00
Balance paid in post dated cheques
Options:
1 Cheque
2 Cheques
4 Cheques
5 Cheques

[2022-02-23 18:45] camelaissani opened #70 "Penalties & Fines"
Penalties & Fines in case rents are not paid

[2022-02-23 18:46] camelaissani opened #71 "Terminating a contract - consider fines and any other charges on deposit"
Terminating a contract - consider fines and any other charges on deposit.

[2022-02-23 18:46] camelaissani opened #72 "Add UAE currency (AED)"
Add UAE currency (AED)

[2022-02-23 18:47] camelaissani opened #73 "Global search using mobile number, name or apartment number"
Global search using mobile number, name or apartment number.

[2022-02-23 18:48] camelaissani opened #74 "ZIP code to be optional and not mandatory"
ZIP code to be optional and not mandatory

[2022-02-23 19:00] camelaissani commented on #69
@pmzhou have you considered to create a contract with paiement per month even if it is a yearly rental?
Like that you will be able to enter the different post dated payments at the right time frame.
wdyt?

[2022-02-23 19:09] camelaissani commented on #73
Code to be adjusted: https://github.com/microrealestate/microrealestate/blob/master/webapps/landlord/src/store/Rent.js#L49

[2022-02-23 19:11] camelaissani commented on #62
Will be tracked in #70

[2022-02-23 19:11] #62 closed

[2022-02-23 19:12] camelaissani commented on #61
Regarding my last comment, do you see something to do here?

[2022-02-23 19:13] camelaissani commented on #46
Is is still the case with the last commits?

[2022-02-23 19:19] adrianmartinezverax commented on #61
Awesome I added my own clients and it works, but on demo data not working.

[2022-02-23 19:19] #61 closed

[2022-02-23 19:26] #46 closed

[2022-02-23 19:26] adrianmartinezverax commented on #46
no everything works fine. thank you

[2022-02-24 00:58] camelaissani commented on #63
@loewensteinph  It should be fixed now

[2022-02-24 05:53] pmzhou commented on #69
I tried it. Since it's a post dated cheque, there could be a reminder on the day which the user responds to by affirming the cheque went through and if it didn't, you have to put a note for a penalty or some other condition

[2022-02-25 19:24] camelaissani commented on #69
I don't know if you saw that, but you can add additional fees for each payment:

![image](https://user-images.githubusercontent.com/7079471/155775304-8988283a-fb20-4b19-b954-7cd349e6ec71.png)

Is this can work for you?

[2022-02-25 19:32] camelaissani commented on #72
@pmzhou it looks like it's already supported.

You can change the currency in `Settings/landlord form` and pick AED from the currency dropdown:

![image](https://user-images.githubusercontent.com/7079471/155780572-75b9b632-7d5d-409e-87fd-54f37087aab6.png)

[2022-02-25 20:38] camelaissani commented on #64
It's fix now

[2022-02-26 15:07] loewensteinph opened #75 "request: rental object hierachy"
**rental object hierachy**

The current implementation only represents types of rental objects, a hierarchical representation is currently not given.
![grafik](https://user-images.githubusercontent.com/17300968/155847787-5a8b9b08-d93f-4ad5-9a3c-3195c8a18b88.png)

[2022-02-26 15:07] loewensteinph opened #76 "request: more detailled cost management"
**Cost management**

Some legislators require a breakdown of costs incurred
Another tab under tenant would be conceivable, in which the cost types and amount could be entered. The cost types could be maintainable under the settings menu.

[2022-02-28 13:03] pmzhou commented on #69
Maybe I have to reset all data start on a clean slate for me to see these settings
How do you reset Demo data?
________________________________
From: Camel Aissani ***@***.***>
Sent: Friday, February 25, 2022 11:24 PM
To: microrealestate/microrealestate ***@***.***>
Cc: pmzhou ***@***.***>; Mention ***@***.***>
Subject: Re: [microrealestate/microrealestate] Contract breakdown (Issue #69)

I don't

[2022-02-28 13:17] pmzhou commented on #72
My bad for this one. Found it. Thanks

________________________________
From: Camel Aissani ***@***.***>
Sent: Friday, February 25, 2022 11:32 PM
To: microrealestate/microrealestate ***@***.***>
Cc: pmzhou ***@***.***>; Mention ***@***.***>
Subject: Re: [microrealestate/microrealestate] Add UAE currency (AED) (Issue #72)

@pmzhou<https://github.com/pmzhou> it looks like it's already supported.

Yo

[2022-02-28 20:52] mkoetzing commented on #58
thank you for the help. it was indeed the wrong adress (localhost instead of remote-host-address). all the best

[2022-02-28 23:01] #72 closed

[2022-02-28 23:15] camelaissani commented on #69
Actually, even in demo mode you can see the feature I described above.
Go to the rents page and select a rent to pay. The payment page will be shown. There you will be able to see different tabs.
The second tab is the one where you can add additional fees and discounts.

You can remove the demo data by deleting the `.env`  file at the root of the project, and restart the application by running the

[2022-02-28 23:20] #58 closed

[2022-03-04 18:41] #64 closed

[2022-03-04 18:41] #63 closed

[2022-03-04 18:44] camelaissani commented on #75
Same request than #10

[2022-04-01 08:00] pmzhou opened #77 "Can not create an account"
![Screenshot_select-area_20220401115541](https://user-images.githubusercontent.com/10725833/161220697-2f0d61ad-f13b-4a63-af2a-e328902b990a.png)

Can not create a new user on a new installation.
Error : Something went wrong

[2022-04-24 22:07] camelaissani commented on #66
Functionality added!
Now in the contract definition it's possible to define upload templates. Afterwards in the tenant lease you will be able to upload a document by selecting an upload template.

[2022-04-24 22:07] #66 closed

[2022-04-24 22:07] #50 closed

[2022-05-02 18:17] karvounis commented on #19
@brunosalves How do you use Dolibarr to manage your real estate properties?

[2022-05-02 18:49] camelaissani commented on #19
@karvounis I'll appreciate if you can ask your questions about Dolibarr in their repository. Thanks

[2022-05-02 18:53] karvounis commented on #19
You are right! I am sorry about that. I will delete my comment asap

[2022-05-02 19:10] camelaissani commented on #19
Thanks 🙏

[2022-05-05 19:25] paradixe opened #78 "Rent amounts don't calculate correctly"
![image](https://user-images.githubusercontent.com/10002681/167010426-b43107d6-6b0c-485b-9c38-d77101438123.png)
Am I doing something wrong?

![image](https://user-images.githubusercontent.com/10002681/167010585-32036893-8965-45db-bb7c-8b2002e98c34.png)

Any help would be appreciated. Installed on Windows 11 + Docker Desktop

[2022-05-06 00:28] camelaissani commented on #78
From your screenshots, I would say that the expenses were concatenated with the rent amount.
Could you check that you have no spaces in the expense field from the tenant contract?
You might not use a comma but a point in numbers.

[2022-05-06 00:38] camelaissani commented on #78
Also your amounts should not start with a zero. You should not have `0700` but `700`

[2022-05-08 08:39] camelaissani commented on #78
I just fixed the issue. Pull the repo and edit and save the tenant form should fix the problem.

[2022-05-09 05:23] #78 closed

[2022-05-14 06:35] camelaissani commented on #77
It looks like you haven't configured correctly the app.
When you ran the `mre` command, you might miss to set the url to access the app. I'm referring this prompt "Enter the URL to use to access the front-end"

Probably you installed the app on a machine from digital ocean, aws...
In this case you should pass the url like that `http://x.x.x.x.x/app` Where `x.x.x.x.x` is the IP address of your mach

[2022-05-14 06:35] #77 closed

[2022-05-31 10:08] childish-gambino opened #81 "#6 3.061 E: Unable to locate package google-chrome-unstable"
Hi,

I'm trying to run the project locally but keep getting an error, when I run `./mre-macos build`

[code]

Can you please debug this?

br
-v

[2022-06-28 01:05] #47 closed

[2022-06-28 01:05] #55 closed

[2022-07-07 05:11] #65 closed

[2022-07-09 20:00] TechSynthesis commented on #81
I'm facing the same issue on MacOS

[2022-07-15 22:54] camelaissani commented on #81
@TechSynthesis @childish-gambino I just updated the cli code, could you make a try with this new version please?

[2022-07-18 09:40] TechSynthesis commented on #81
@camelaissani The error still persists. It seems like the google-chrome-unstable cannot be fetched.

[2022-07-21 22:33] camelaissani commented on #81
@TechSynthesis are you testing with an M1 mac os?

[2022-07-22 01:58] TechSynthesis commented on #81
@camelaissani Yes. I'm running it on a M1 MacBook Pro

[2022-07-25 17:37] #81 closed

[2022-07-25 17:38] camelaissani commented on #81
@TechSynthesis @childish-gambino it has been fixed. Please reopen if it is not working on your side.

[2022-07-25 17:59] camelaissani commented on #19
@chedighribi @brunosalves I made a fix on #81 which looks like similar of this issue. Could you make a try with the latest code please?

[2022-07-31 08:47] #76 closed

[2022-10-10 23:16] ChipwizBen opened #83 "Front-end ready and accessible on undefined"
After building and starting, I get the output "Front-end ready and accessible on undefined".

# MRE
[code]

# env
[code]

# Further Details
[code]

[2022-10-13 01:33] jeff0540 opened #84 "Fresh Install - What is the correct process to perform a fresh install of this image."
This is what I am getting when attempting to re-insstall.

The application which helps the landlords to manage their property rents

? Have you created a mailgun account for sending emails (https://www.mailgun.com/)? No
? Enter the URL to access the landlord front-end: http:/10.0.0.166:8080/landlord
? Enter the URL to access the tenant front-end (it should share the same domain and port as the lan

[2022-10-15 17:50] #70 closed

[2022-10-15 17:50] #71 closed

[2022-10-15 17:50] #69 closed

[2022-10-15 17:50] #75 closed

[2022-10-20 18:23] k----n opened #85 "yarn install network timeout needs to be set higher"
It seems like when the container images are building, they are fighting for bandwidth so it becomes really slow to fetch packages with yarn.

I had to add `--network-timeout 600000` (10 minute timeout) to `yarn install` for each of the Dockerfiles to prevent connection errors.

[2022-10-23 04:41] k----n opened #86 "CLI does not restore backup"
I had to manually connect to the Docker container to restore

[code]

[2022-10-23 05:17] k----n opened #87 "Demo Data Logic Issue for Top 5 rents not paid"
Rents have not been paid yet the message says "Well done! all rents are paid"

![image](https://user-images.githubusercontent.com/9467666/197375172-99eee68f-9e95-4c1d-85f4-72f258cbbab1.png)

[2022-10-23 05:19] k----n opened #88 "Widget Text on Rents Page overflows"
![image](https://user-images.githubusercontent.com/9467666/197375239-481ee4d0-a53d-4e6d-b9bd-81587bbfccd5.png)

Seems to be an issue when the amounts get too large

[2022-11-10 08:45] samcov opened #89 "Can I use just docker compose?"
There doesn't appear to be any attempt to just show how to use the yml files with docker compose.

Is it as simple as just changing the urls, and either using or not using the emailing system?

[2022-11-11 04:46] MBHudson opened #90 "Followed the 3-4 point documentation, having the same issues that are still open."
What the title said...

[2022-11-11 11:45] robbinmoreka opened #91 "Noob that cant fully install the program"
the install can't go past this point please help
 |  \/  | (_)   ___   _ __    ___   |  _ \    ___    __ _  | | | ____|  ___  | |_    __ _  | |_    ___
 | |\/| | | |  / __| | '__|  / _ \  | |_) |  / _ \  / _` | | | |  _|   / __| | __|  / _` | | __|  / _ \
 | |  | | | | | (__  | |    | (_) | |  _ <  |  __/ | (_| | | | | |___  \__ \ | |_  | (_| | | |_  |  __/
 |_|  |_| |_|  \___| |_|     \___/  |_|

[2022-11-11 11:46] robbinmoreka commented on #91
also the network connection is fine

[2022-11-11 11:49] robbinmoreka commented on #85
how do i add this please

[2022-11-11 13:46] robbinmoreka commented on #85
already in the root of ubuntu desktop:~/microrealestate

I can't fully install the program please help

[2022-11-11 13:47] robbinmoreka commented on #85
docker and containers running well

[2022-11-14 23:46] camelaissani commented on #86
Do you have any logs to understand what is not working properly please?

[2022-11-14 23:52] camelaissani commented on #83
Why did you curl `http://127.0.0.1:8080/app` while you defined the app to be at `http://property.domain.com:8080/landlord`?

[2022-11-14 23:59] ChipwizBen commented on #83
I edited the output so as not to disclose private data. The URL defined in the config and the URL tested with curl were identical, though I didn't include the latter above. I tested with the A record defined in local DNS, 127.0.0.1 and localhost. All produced the same output (404).

[2022-11-15 00:06] camelaissani commented on #84
You mentioned reinstall, I assume you already installed it before. In this case you might run the `mre stop` command and remove the `.env` file to clean the previous installation.

In a second step you will be able to build and start a fresh installed app.

[2022-11-15 00:30] camelaissani commented on #83
Ok I need to reproduce the issue on my machine.

[2022-11-15 00:39] camelaissani commented on #89
Thoriticaly replacing the env variables in the yml files should do the trick.

In this file you can find which yml have to be used to run the app  https://github.com/microrealestate/microrealestate/blob/master/cli/src/utils.js#L97

[2022-11-15 00:41] camelaissani commented on #90
Could you close this one if the issue has already be reported please?
You might put your additional information in the existing one.

[2022-11-15 01:08] k----n commented on #86
When I ran:
[code]

It says that the restore was successful, but when I actually looked at the mongo database it was empty.
Hence, why I manually connected to the Docker container and ran the `mongorestore` command.

[2022-11-15 09:25] samcov commented on #89
Thanks, I'll take a look!

[2022-11-15 11:12] samcov commented on #89
Wait, looking at this, it looks like what the mre.exe would do.

So is the mre just a node app converted into an executable?

The only reason I'm asking for the docker compose, is because I would deploy this on Linux.

**But if I can run your mre app on linux, then problem solved**.

[2022-11-15 11:38] camelaissani commented on #89
Yes it's a node app converted in an executable for Windows, Mac and linux.

[2022-11-15 12:02] #89 closed

[2022-11-15 20:38] camelaissani commented on #86
Did you get prompted to select the dump file?

Also the exe needs to run with .env file corrected set.
Is the BASE_DB_URL env was with the correct connection string to connect to the database to restore?

[2022-11-15 20:45] k----n commented on #86
Yes there was a prompt.

I already deleted the instance that was running microrealestate, but if i recall correctly, BASE_DB_URL was probably `mongodb://mongo/demodb`.

BASE_DB_URL was never changed from the default.

[2022-11-29 21:24] camelaissani commented on #91
It will be tackled in #85

[2022-11-29 21:24] #91 closed

[2022-11-29 21:24] #90 closed